<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>626453437798-f9f00pl7c1tr2sqa78lj6t7n7igcfm5u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.626453437798-f9f00pl7c1tr2sqa78lj6t7n7igcfm5u</string>
	<key>API_KEY</key>
	<string>AIzaSyAl8vf4tX8BBfS-4g4nDD_OvoGUHQ9VhcA</string>
	<key>GCM_SENDER_ID</key>
	<string>626453437798</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>raptr.ios</string>
	<key>PROJECT_ID</key>
	<string>raptr-performance</string>
	<key>STORAGE_BUCKET</key>
	<string>raptr-performance.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:626453437798:ios:82df0299b66e527aa83ca7</string>
	<key>DATABASE_URL</key>
	<string>https://raptr-performance.firebaseio.com</string>
</dict>
</plist>